/*CSS file that will create the styling for all the website */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    text-align: center;
}

ul {
    list-style: none;
}

.active {
    color: #659dbd;
    ;
    text-decoration: underline;
    font-weight: bold;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    color: #f6f6f6;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 99;
}

.nav-links {
    display: flex;
    align-items: center;
    color: #f6f6f6;
}

.nav-links li {
    margin: 0 30px;
}

nav a {
    color: #f6f6f6;
    text-decoration: none;
    margin: 0px 10px;
    padding: 5px;
}

nav a.active {
    color: #ffffff;
    background: white;
}

nav a:hover {
    text-decoration: underline;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url("backimage.jpg");
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content {
    margin-bottom: 150px;
    color: #f5f5f5;
    text-align: center;
}

.header-content h2 {
    font-size: 4vmin;
    margin-bottom: 50px;
}

.line {
    width: 166px;
    height: 4px;
    background: #659dbd;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn {
    padding: 10px 20px;
    background: #659dbd;
    border-radius: 32px;
    color: #f5f5f5
}

.ctn:hover {
    background: #f5f5f5;
    color: #659dbd
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

section {
    width: 80%;
    margin: 80px auto;
}

.title {
    text-align: center;
    font-size: 4vmin;
    color: #49497e;
}

.title-content {
    width: 80vw;
    height: 60vh;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.learn {
    text-align: center;
    font-size: 4vmin;
    color: #49497e;
    background-color: #f4f4f4;
    width: auto;
}

.learn-content {
    padding: 50px;
    color: #49497e;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.learn-content p {
    padding-bottom: 15px;
}

.about {
    text-align: center;
    font-size: 4vmin;
    color: #49497e;
}

.about-content {
    padding: 50px;
    color: #49497e;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer {
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #659dbd;
    text-align: center;
}

.footer p {
    color: #f5f5f5;
    margin: 18px auto;
    text-align: center;
}

.start_btn,
.info_box,
.quiz_box,
.result_box {
    position: absolute;
    left: 50%;
    top: 200px;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.22), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.quiz-sec {
    position: relative;
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult {
    width: 550px;
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start_btn button {
    font-size: 30px;
    font-weight: 450;
    color: #659dbd;
    padding: 15px 30px;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}

.info_box {
    width: 530px;
    background: #fff;
    border-radius: 10px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;

}

.info_box .info-title {
    height: 50px;
    width: 100%;
    border-bottom: 2px solid lightgrey;
    display: block;
    align-items: center;
    padding: 0 30px;
    border-radius: 6px 6px 0 0;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    align-items: center;
}

.info_box .info-list {
    padding: 15px 30px;
}

.info_box .info-list .info {
    margin: 5px 0;
    font-size: 17px;
}

.info_box .info-list .info span {
    font-weight: 600;
    color: #659dbd;
}

.info_box .buttons {
    height: 50px;
    display: block;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
}

.info_box .buttons button {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #659dbd;
    transition: all 0.4s ease;
}

.quiz_box {
    width: 550px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}

.quiz_box header {
    width: 550px;
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.quiz_box header .title {
    font-size: 20px;
    font-weight: 600;
}

.quiz_box header .timer {
    color: #004085;
    background: #cce5ff;
    border: 2px solid #b8daff;
    height: 45px;
    padding: 0 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.quiz_box header .timer .time_left_txt {
    font-weight: 420;
    font-size: 17px;
    user-select: none;
}

.quiz_box header .timer .timer_sec {
    font-size: 17px;
    font-weight: 520;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #353b41;
    border: 1px solid #262a2e;
    user-select: none;
}

.quiz_box header .timer_line {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #659dbd;
}

section {
    padding: 25px 30px 25px 30px;
    background: #fff;
}

section .question_text {
    font-size: 25px;
    font-weight: 600;
}

section .option_list {
    padding: 20px 0px;
    display: block;
}

section .option_list .option {
    background: rgb(240, 248, 255);
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .option_list .option:last-child {
    margin-bottom: 0px;
}

section .option_list .option:hover {
    color: #659dbd;
    background: whitesmoke;
    border: 1px solid #bcdcff;
}

section .option_list .option.correct {
    color: #1d6a2f;
    background: whitesmoke;
    border: 1px solid #c3e6cb;
}

section .option_list .option.incorrect {
    color: #91242f;
    background: whitesmoke;
    border: 1px solid #f5c6cb;
}

section .option_list .option.disabled {
    pointer-events: none;
}

section .option_list .option .icon {
    height: 24px;
    width: 24px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
    pointer-events: none;
    transition: all 0.4s ease;
    line-height: 24px;
}

.option_list .option .icon.tick {
    color: #23903c;
    border-color: #23903c;
    background: whitesmoke;
}

.option_list .option .icon.cross {
    color: #a42834;
    background: whitesmoke;
    border-color: #a42834;
}

footer {
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

footer .total_question span {
    display: flex;
    user-select: none;
}

footer .total_question span p {
    font-weight: 500;
    padding: 0 5px;
}

footer .total_question span p:first-child {
    padding-left: 0px;
}

footer button {
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #659dbd;
    border: 1px solid #659dbd;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.4s ease;
}

footer button:hover {
    background: #659dbd;
}

footer button.show {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.result_box {
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}

.result_box .icon {
    font-size: 100px;
    color: #659dbd;
    margin-bottom: 10px;
}

.result_box .score_text span p {
    padding: 0 4px;
    font-weight: 500;
}

.result_box .buttons {
    display: flex;
    margin: 20px 0;
}

.result_box .complete_text {
    font-size: 21px;
    font-weight: 500;
}

.result_box .score_text span {
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.result_box .buttons button {
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #659dbd;
    transition: all 0.4s ease;
}

.buttons button.restart {
    color: #fff;
    background: #659dbd;
}

.buttons button.restart:hover {
    background: #659dbd;
}

.buttons button.quit {
    color: #659dbd;
    background: #fff;
}

.buttons button.quit:hover {
    color: #fff;
    background: #659dbd;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky+.content {
    padding-top: 102px;
}

.socials {
    text-align: center;
}

.socials a {
    display: inline-flex;
    text-decoration: none;
    font-size: 36px;
    width: 60px;
    height: 60px;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 7px;
}

.socials a {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 25%;
    z-index: -1;
    transition: transform 0.4s ease-in;
}

.socials a:nth-child(1) {
    background: #38529a;
}

.socials a:nth-child(2) {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.socials a:nth-child(3) {
    background: #f70000;
}

